nav {
  width: 1500px;
  height: 51px;
  background-color: #4d243d;
  border: #4d243d solid;
  border-radius: 3px;
}
.nav_div {
  margin-left: auto;
  margin-right: auto;
  width: 1300px;
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
}
.LOGO {
  color: #cccdce;
  font-family: "Roboto Slab", serif;
  font-size: 21px;
}
.nav_icons_div {
  width: 25px;
  height: 35px;
}
.icons {
  display: flex;
}
.nav_icons {
  color: #cccdce;
}
.nav_icons_div:hover {
  background-color: #3a3a3a;
  transition: 0.3s ease;
}
.nav_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav_links li {
  list-style: none;
  padding: 6px 20px 8px 20px;
  border-radius: 15px;
}

#link {
  color: 242424;
  font-family: "Oxygen", sans-serif;
  text-decoration: none;
  font-size: 12.5px;
  color: #cccdce;
}

.nav_links li:hover {
  background-color: #3a3a3a;
  transition: 0.25s ease;
}
.nav_links li :hover #link {
  color: #fff;
  transition: 0.25s ease;
}

/*CSS for prodcut card*/
.card_container {
  justify-content: space-between; /*adds space between cards*/
  display: flex; /*arranges all the cards horizontally*/
  padding: 20px; /*space between card border and elements inside it*/
}
.card {
  width: 230px; /*width of the product card*/
  height: 370px; /*height of the product card*/
  background: #b9a394; /*background colour of the product card*/
  border: 2px solid #1c0221;
  box-shadow: 2px 2px 10px black; /*2px on top and right 10px from bottom*/
  border-radius: 5px solid #cfbff7;
  padding: 20px;
}

.product_name {
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  text-align: center;
  color: black;
}

.product_name hr {
  border: 2px solid black;
}

.shopping {
  display: flex; /*brings cart button to the side of price*/
  justify-content: space-between; /*adds space between price and cart button*/
  align-items: center; /*to bring cart button and product price to the centre*/
}

.product_price {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: black;
}

.product_description {
  font-family: "Raleway", sans-serif;
  color: #353935;
}

.cart_button {
  height: 35px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 0px 25px;
  transition: 0.5s;
  cursor: cell;
}

.cart_button:hover {
  padding: 2px;
}

/*CSS for footer*/
.footer_container {
  width: 1170px;
  margin-left: auto;
}

.footer_sections {
  display: flex;
}
.homepage_footer {
  /* color: aqua; */
  background-color: #4d243d;
  height: 325px;
  width: 100%;
  border-style: solid;
  border-color: #4d243d;
  border-radius: 5px;
}

.homepage_footer ul {
  list-style: none;
  padding: 10px;
}
.footer_col {
  padding: 75px;
}

.footer_col h3 {
  text-transform: capitalize; /*Capitalizes the first letter of the text in h3 element*/
  font-size: 21px;
  color: #fff;
  font-family: "Playfair Display", serif;
}

.footer_col ul li a {
  font-size: 17px;
  text-transform: capitalize;
  color: white;
  padding: 0px 0px 10px;
}
.footer_col ul li a:hover {
  color: blue;
  padding-left: 10px;
  transition: 0.5s;
}

.footer_col .copyright {
  color: white;
  text-align: justify;
  font-family: "PT Sans Caption", sans-serif;
}

/* .footer_col h3 {
  text-transform: capitalize; 
  font-size: 21px;
  color: #fff;
  font-family: "Playfair Display", serif;
} */

/*CSS for research page*/
.research_heading {
  text-transform: uppercase;
  text-align: center;
}

.research_heading h2 {
  color: #2e294e;
  font-family: "Alegreya Sans SC", sans-serif;
}

.homepage_research {
  width: 100px;
  height: 100px;
  display: flex;
  object-fit: contain;
}

.ref_text {
  border: 2px solid #161032;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: black;
  background-color: #ffdde2;
  font-family: "IBM Plex Sans", sans-serif;
  text-align: justify;
}

.ref_img {
  border: 2px solid black;
  box-shadow: 2px 3px 10px;
  object-fit: contain;
  display: flex;
}

#external_link {
  color: black;
}
